{% extends "bases/home_base.html" %}

{% block title %}Set New Password{% endblock %}
{% block content %}

<div class="container mt-4">
  <h1 class="mb-4"><strong>Set New Password</strong></h1>
</div>
<!-- The above line creates a large heading for the password reset page -->

<!-- Builds the GUI for the input form in HTML -->
<form method = "POST">
<!-- The above line allows the webpage to send an HTTP POST Request to the server with the inputted data -->
    <div class = "form-group">
        <label for = "new_password" > New Password: </label>
        <input
          type = "password"
          class = "form-control"
          id = "new_password"
          name = "new_password"
          placeholder = "Enter Your New Password (Required)"
        />
    </div>
    <div class = "form-group">
        <label for = "confirm_password" > Confirm Password: </label>
        <input
          type = "password"
          class = "form-control"
          id = "confirm_password"
          name = "confirm_password"
          placeholder = "Confirm Your New Password (Required)"
        />
    </div>
    <br />
    <button type = "submit" class = "btn btn-primary">Reset Password</button>
    <br />
    <!-- Creates empty space below button-->
    <div class="container mt-4">
      <h1 class="mb-4"><strong> </strong></h1>
    </div>
    <!-- Displays Passwords Criteria -->
    <div class="col-md-4">
        <div class="border border-success p-3 mb-3">
            <p>Passwords must contain:</p>
            <ul>
                <li>At least one uppercase letter</li>
                <li>At least one lowercase letter</li>
                <li>At least one number</li>
                <li>At least one punctuation character:
                    [?, !, £, %, ^, &, *, (, ), /, #]</li>
            </ul>
            <p>And be at least 8 characters in length</p>
        </div>
    </div>
</form>

<!-- Creates empty space below button -->
<div class="container mt-4">
  <h1 class="mb-4"><strong> </strong></h1>
</div>

{% endblock %}